.site-footer {
      margin-top:auto;
      padding:0.5rem 1rem;
      background:#393B65;
      border-top:1px solid black;
      text-align:center;
      font-size:.85rem;
      color:#f1f2f4;
    }